{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "targets": {
          "node": "current"
        }
      }
    ],
    "@babel/preset-stage-3",
    "@babel/preset-react"
  ],
  "plugins": [
    "babel-plugin-transform-decorators-legacy",
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": true
      }
    ]
  ]
}
