{
  "presets": [
    [
      "babel-preset-env",
      {
        "modules": false,
        "useBuiltIns": true,
        "targets": {
          "browsers": "last 2 versions, > 5%"
        }
      }
    ],
    "babel-preset-stage-2",
    "babel-preset-react"
  ],
  "plugins": [
    "babel-plugin-transform-decorators-legacy",
    [
      "babel-plugin-transform-class-properties",
      {
        "loose": true
      }
    ],
    [
      "babel-plugin-import",
      {
        "libraryName": "antd",
        "style": "css"
      }
    ]
  ],
  "env": {
    "test": {
      "plugins": ["babel-plugin-transform-es2015-modules-commonjs"]
    },
    "development": {
      "plugins": [
        "babel-plugin-dva-hmr"
      ]
    }
  }
}
