{
  "env": {
    "jest": true
  },
  "extends": "dgeibi/react",
  "rules": {
    "import/no-extraneous-dependencies": "off",
    "global-require": "off",
    "no-mixed-operators": "off",
    "react/prop-types": "off"
  }
}
