.header {
  background-color: #ffffff;
  margin-bottom: 25px;
  padding-left: 25px;
  height: 46px;
}

:global(.ant-menu-horizontal) {
  border-bottom: 0 none;
}

:global(.ant-menu-horizontal) :global(.ant-menu-item) > a:before {
  height: auto;
  bottom: -2px;
}

@media screen and (max-width: 599px) {
  :global(.ant-popover-inner-content) {
    padding: 0;
  }

  .menu li {
    margin: 0 !important;
    padding: 0 !important;
  }

  .menu {
    text-align: center;
    min-width: 100px;
  }
}

.nav-icon {
  position: relative;
  width: 40px;
  height: 100%;
  cursor: pointer;
  vertical-align: top;
}

.nav-icon:focus {
  outline: 0;
  color: #40a9ff;
}

.nav-icon:before {
  content: '';
  position: absolute;
  border-radius: 2px;
  top: 35%;
  left: 10px;
  width: 20px;
  height: 1.9px;
  background: currentColor;
  box-shadow: 0 6px 0 0, 0 12px 0 0;
}
