.content-inner {
  min-height: calc(100vh - 141px);
  background: #fff;
  padding: 24px;
}

.footer {
  text-align: center;
}

@media screen and (min-width: 600px) {
  .content {
    padding: 0 50px;
  }
}

.loading {
  position: fixed;
  right: 12px;
  top: 12px;
  font-size: 20px;
  color: #1890ff;
}
