.layout,
.content-inner {
  min-height: 100%;
}

.content-inner {
  background: #fff;
  padding: 24px;
}

.footer {
  text-align: center;
}

@media screen and (min-width: 600px) {
  .content {
    padding: 0 50px;
  }
}
